<a href="https://colab.research.google.com/github/OGjotaka/UCM_DSA4620_ICP1/blob/main/Holbrook_ICP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Probelm 5a: Input the string “Python” as a list of characters from console, delete at least 2 characters, reversetheresultant string, and print it.

In [8]:
#input from consoloe
input_list = list(input("Enter a string: "))

#delete 2 characters
input_list = input_list[:-2]

#reverse the list
input_list.reverse()

#convert to string
reversed_string = ''.join(input_list)

#print the reversed string
print("Reversed string:", reversed_string)

Enter a string: Python
Reversed string: htyP

Problem 5b: Take two numbers from user and perform at least 4 arithmetic operations on them.

In [9]:
#input from console
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

#perform arithmetic operations
print(num1 + num2)   # addition(+)
print(num1 - num2)   # subtraction(-)
print(num1 * num2)   # multiplication(*)
print(num1 / num2)   # division(/

Enter first number: 2
Enter second number: 4
6.0
-2.0
8.0
0.5

Problem 6: Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons’.

In [6]:
#input from consolse
sentence = input("Enter a sentence: ")

#replace 'python' with 'pythons'
new_sentence = sentence.replace('python', 'pythons')

#print the new sentence
print("New sentence:", new_sentence)

Enter a sentence: Java is better than python
New sentence: Java is better than pythons

Problem 7: Use the if statement conditions to write a program to print the letter grade based on an input class score. Use the grading scheme we are using in this class.

In [10]:
#print letter grade based on input score
score = float(input("Enter your score: "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

Enter your score: 92
A

Problem 8: Write a code that appends the type of elements from a given list.

In [6]:
#create list
x = [23, 'Python', 23.98]

print(x)

for item in x:
  print(type(item))

[23, 'Python', 23.98]
<class 'int'>
<class 'str'>
<class 'float'>

Problem 9:

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

1.  Find the length of the set IT_companies
2.  Add 'Twitter' to IT_companies
3.  Insert multiple IT companies at once to the set IT_companies
4.  Remove one of the companies from the set IT_companies
5.  What is the difference between remove and discard
6.  Join A and B
7.  Find A intersection B
8.  Is A subset of B
9.  Are A and B disjoint sets
10. Join A with B and B with A
11. What is the symmetric difference between A and B
12. Delete the sets completely
13. Convert the ages to a set and compare the length of the list and the set

In [6]:
# create sets/list
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# get length of it-compaies direcory
length_company_dict = len(IT_companies)
print("Length of Company Directory: ", length_company_dict)

# add to company
IT_companies.add('Twitter')
print(IT_companies)

# add multiple to it_companies
IT_companies.update(['Meta', 'Samsung', 'Intel'])
print(IT_companies)

# remove an element
IT_companies.remove('Facebook')
print(IT_companies)

'''
Both methods will remove the specified element from the set if it exists. However, if you use the remove()
method and the element does not exist in the set, it will raise a KeyError exception. On the other hand, the
discard() method will not raise an exception if the element does not exist in the set; it will simply do nothing.
'''

# join A and B
print("A = ", A)
print("B = ", B)
result_set = A | B
print("Result of A join B: ", result_set)

# find intersection of A & B
intersection_set = A & B
print("Intersection of A & B: ", intersection_set)

# is A subset of B
is_subset = A <= B
print("A is subset of B: ", is_subset)

# are A and B disjointed sets
are_disjoint = not A.intersection(B)
print("A and B are digjoint sets: :", are_disjoint)

# join A with B and B with A
result_set_1 = A | B
result_set_2 = B | B
print("Result of A join B: ", result_set_1)
print("Result of B join A: ", result_set_2)

# what is the symmetric difference between A and B
symmetric_difference_set = A.symmetric_difference(B)
print("Symmetric Difference: ", symmetric_difference_set)

# delete the sets completely
del A
del B

# convert the ages to a set and compare the length of the list and the set
# Convert the list to a set
print("Age List = ", age)
age_set = set(age)
print("Age Set:", age_set)

# Compare the lengths of the list and the set
if len(age) == len(age_set):
    print("The length of the list and the set are the same.")
else:
    print("The length of the list and the set are different.")

Length of Company Directory:  7
{'Facebook', 'Oracle', 'Google', 'Microsoft', 'Amazon', 'Twitter', 'Apple', 'IBM'}
{'Oracle', 'Amazon', 'Intel', 'Facebook', 'Google', 'Samsung', 'Twitter', 'IBM', 'Microsoft', 'Meta', 'Apple'}
{'Oracle', 'Amazon', 'Intel', 'Google', 'Samsung', 'Twitter', 'IBM', 'Microsoft', 'Meta', 'Apple'}
A =  {19, 20, 22, 24, 25, 26}
B =  {19, 20, 22, 24, 25, 26, 27, 28}
Result of A join B:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A & B:  {19, 20, 22, 24, 25, 26}
A is subset of B:  True
A and B are digjoint sets: : False
Result of A join B:  {19, 20, 22, 24, 25, 26, 27, 28}
Result of B join A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric Difference:  {27, 28}
Age List =  [22, 19, 24, 25, 26, 24, 25, 24]
Age Set: {19, 22, 24, 25, 26}
The length of the list and the set are different.